*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#inicio{
    background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url('../img/jp.logo.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    
}
#inicio .contenedor header{
    background-color: rgba(0,0,0,.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
#inicio .contenedor header .contenido-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
#inicio .contenedor header .contenido-header h1{
    text-align: center;
    color: #ff5080;
}
#inicio .contenedor header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 20px;
   font-style: italic;
}
#inicio .contenedor header .contenido-header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400px;
    transition: .5%;
}
#inicio .contenedor header .contenido-header nav ul a:hover{
    color: #ff5080;
}

#inicio .contenedor .presentacion{
    max-width: 1100px;
    height: 80vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#inicio .contenedor .presentacion .bienvenido{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#inicio .contenedor .presentacion h2{
    font-size: 60px;
    margin-bottom: 30px;
    text-align: center;
   
}
#inicio .contenedor .presentacion h2 span{
    font-size: 25px;
    color: #ff5080;
    font-style: italic;
    
}
#inicio .contenedor .presentacion .descripcion{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
   
}
#inicio .contenedor .presentacion a {
    text-decoration: none;
    display:inline-block;
    margin: 30px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5%;
}
#inicio .contenedor .presentacion a:hover{
    background-color: #ff5080;
}

/*sobre mi lf*/

#sobremi{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7));
    max-width: 100%;
    margin: auto;
    padding: 100px 15px;
    color:white;
    display: flex;
}
#sobremi .contenedor-fotomia{
    max-width: 400px;
    margin-right: 80px;
    
}
#sobremi .contenedor-fotomia img:hover{
    background-color: #ff5080;
}

#sobremi .contenedor-fotomia img{
    padding: 30px;
    width: 90%;
    height: 500px;
    border-radius: 20px;
    background-color: #151414;

    
}

#sobremi .sobre-mi{
    margin: 0 40px;
}
#sobremi .sobre-mi .titulo{
    font-size: 25px;
font-style: italic;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    text-decoration-color: #ff5080;
    text-decoration-thickness: 5px;
}
#sobremi .sobre-mi h2{
    font-size: 34px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 0;
    letter-spacing: 1px;
}
#sobremi .sobre-mi h2 span{
    color: #ff5080;
    font-style: italic;
    font-size: 20px;
}
#sobremi .sobre-mi h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#sobremi .sobre-mi p{
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #f3e4e4;
    margin-bottom: 40px;
}
#sobremi .sobre-mi a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5%;
}
#sobremi .sobre-mi a:hover{
    background-color: #ff5080;
    color: #fff;
}

/*seccion sobre mi servicio*/

#servicio{
    padding: 100px 15px;
    text-align: center;
    background: linear-gradient(rgba(164, 162, 162, 0.7),rgba(0,0,0,.7));
}
#servicio .titulo-seccion{
    font-size: 25px;
    font-style: italic;
    text-transform: uppercase;
    color:#000;
    text-decoration: underline;
    text-decoration-color: #ff5080;
    text-decoration-thickness: 5px;
}
#servicio .fila{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}
#servicio .fila .servicios{
    max-width: 359px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 10px;
    transform: .5%;
}
#servicio .fila .servicios:hover{
    box-shadow: 5px 5px 10px  #ff5080,-5px -5px 10px  #ff5080;
}

#servicio .fila .servicios h4{
    font-style: italic;
    font-size: 25px;
    margin-bottom: 25px;
}
#servicio .fila .servicios .icono{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}
#servicio .fila .servicios hr{
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;

}
ul{
    list-style: none;
}
#servicio .fila .servicio-mio ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#servicio .fila .servicio-mio p{
    font-size: 14px;
    line-height: 22px;

}

/*habilidades*/

.contenedor-habilida{
    background: linear-gradient(#eb5a5acc,rgba(33,16,16,.8)),url('../img/yo.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;

}
.contenedor-habilida h3{
    font-size: 25px;
    font-style: italic;
    text-transform: uppercase;
    color:#fffbfb;
    text-decoration: underline;
    text-decoration-color: #ff5080;
    text-decoration-thickness: 5px;
    
}

.contenedor-habilida .skill{
    max-width: 600px;
    margin: 30px auto;
  
}

.contenedor-habilida .skill .info{
    display: flex;
    justify-content: space-between;
    
}
.contenedor-habilida p{
    color: white;
    font-style: italic;
    
}

.contenedor-habilida .skill .lista  {
    display: inline-block;
    margin-right: 30px;
    height: 10px;
    width: 10px;
    background-color: #fff;
    
    
}



.contenedor-habilida .skill .barras{
    background-color: #919191;
width: 80%;
    height: 6px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: rgb(147, 154, 156);
}


/*estilo se le dara con javascript para poder dar animacion*/
.contenedor-habilida .skill .barras .barra-progreso1{
    background-color: cyan;
    width: 55%;
    height: 6px;
    animation: progreso1 2s forwards;
    background-color: cyan;
  
}
/*@keyframes progreso1{
45%{
    width: 40%;
}
}*/
.contenedor-habilida .skill .barras .barra-progreso2{
    background-color: #fff;
    width: 45%;
    height: 6px;
    animation: progreso2 2s forwards;
    background-color: cyan;
}
.contenedor-habilida .skill .barras .barra-progreso3{
    background-color: #fff;
    width: 50%;
    height: 6px;
    animation: progreso3 2s forwards;
    background-color: cyan;
 
}
.contenedor-habilida .skill .barras .barra-progreso4{
    background-color: #fff;
    width: 50%;
    height: 6px;
    animation: progreso4 2s forwards;
    background-color: cyan;
}
/*animacion barra*/

@keyframes progreso1{
    0%{
        width: 0;
    }
    100%{
        width:55%;
    }
}
@keyframes progreso2{
    0%{
        width: 0;
    }
    100%{
        width:45%;
    }
}
@keyframes progreso3{
    0%{
        width: 0;
    }
    100%{
        width:50%;
    }
}
@keyframes progreso4{
    0%{
        width: 0;
    }
    100%{
        width:45%;
    }
}
/*seccion portafolio*/
#portafolio{
    background: linear-gradient(#000000cc,rgba(87, 87, 87, 0.8)),url('');
    max-width: 100%;
    padding: 100px 0;
    margin: auto;
}
#portafolio .titulo-seccion{
    text-align: center;
    font-size: 22px;
    font-style: italic;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    text-decoration-color:#ff5080 ;
    text-decoration-thickness: 5px;
}
#portafolio .fila{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

}
#portafolio .fila .proyecto{
    max-width: 450px;
    border: 1px solid #000;
    border-radius: 20px;
    margin: auto;
    position: relative;
    overflow: hidden;
    
}
#portafolio .fila .proyecto:hover{
    box-shadow: 5px 5px 10px  #ff5080,-5px -5px 10px  #ff5080;
}
#portafolio .fila .proyecto img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5%;
}
#portafolio .fila .proyecto:hover img{
    filter: grayscale(0);
}
#portafolio .fila .proyecto .info{
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    bottom: -200px;
    transition: .5%;
}
#portafolio .fila .proyecto .info h4{
    text-align: center;
    color: white;
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
    margin: 10px;
}
#portafolio .fila .proyecto .info p{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;

}

#portafolio .fila .proyecto .info .botin{

text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-style: italic;
    width: 60px;
    height:50px;
    border-radius: 15px;
    background-color: #000;
    margin: 10px;
}
#portafolio .fila .proyecto .info .botin:hover{
    color: black;
    background-color: white;
}

#portafolio .fila .proyecto:hover .info{
    opacity: 1;
    bottom: 0;
}
/*seccion contacto*/
#contacto{
  background-color: #e9ecef;
    padding: 100px 15px;
  
}
#contacto .titula-seccion{
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#contacto .contenedor-form{
max-width: 1100px;
margin: auto;
}
#contacto .contenedor-form .fila{
    margin-bottom: 15px;
    margin: 5px;
}
#contacto .contenedor .mitad{
    display: flex;
    justify-content: space-between;
}
#contacto .contenedor-form input,
#contacto .contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}
#contacto .contenedor-form .mitad input{
    width: 48%;
}
#contacto .contenedor-form .input-full{
    width: 100%;
}
#contacto .btn-enviar{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;

}
#contacto .btn-enviar:hover{
    background-color: #ff5080;
    color: #fff;
}
@media screen and (max-width:800px){
    nav{
        display: none;
    }
    nav.resposive{
display: block;
background-color: rgba(0, 0, 0, .8);
width: 100%;
position: absolute;
top: 48px;
left: 0;
padding: 10px 0;
    }
    nav .responsive ul{
        display: block !important;
        text-align: center;
        

    }
    nav.responsive ul li{
        margin:5px 0px;
        
    }
    #icono-nav{
        display: block;
        color: #fff;

    }
    #inicio .contenedor .presentacion h2{
        font-size: 40px;
    }
    #sobremi{
        padding: 50px 0;
        display: block;

    }
    #sobremi .contenedor-fotomia{
    max-width: 200px;
    margin: auto;
    }
#sobremi .contenedor-fotomia img{
padding: 8px;
}
#sobremi .sobre-mi.titulo-seccion{
    text-align: center;
}
#sobremi .sobre-mi h2{
    font-size: 25px;
    text-align: center;
}
#servicio{
    padding: 50px 15px;
}
#servicio .fila{
    display: block;
}
#servicio .fila .servicios{
    margin: 10px auto;
}
.contenedor-habilida{
    padding: 50px 20px;
}
#portafolio{
    padding: 50px 0;
}
#portafolio .fila{
    display: block;
}
#portafolio .fila .proyecto{
    margin: 10px auto;
}
#contacto{
    padding: 50px 15px;
}
#contacto .contenedor-form .mitad{
    margin-bottom: 15px;
    display: block;
}
#contacto .contenedor-form .mitad input{
    width: 100%;
    margin-bottom: 15px;
}

    
}

